{% extends 'baseTemplate.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <!--<link rel="stylesheet" href="{% static '/css/albumDetail.css' %}">-->
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center" id="presentation">
        <img class="img-thumbnail mr-2" src="{{ album.image_album.url }}" alt="Image de l'album"/>
        <div>
            <h1>{{ album }}</h1>
            <h3>{{ album.id_genre}}</h3>
            <div class="d-flex justify-content-between" id="infos">
                <div>
                    <p><i class="fas fa-microphone"></i> {{ album.id_artiste }}</p>
                    <p><i class="fas fa-file-contract"></i> {{ album.id_label }}</p>
                </div>
                <div>
                    <p><i class="fas fa-hourglass-start"> {{ extraData.totalTime}}</i></p>
                    <p><i class="fas fa-compact-disc"></i> {{ album.type_album }}</p>
                </div>
            </div>
        </div>
    </div>
    <table class="table" id="musiques">
        <thead>
            <tr class="d-flex">
                <th class="col-8 titre">Titre</th>
                <th class="col-1">Durée</th>
                <th class="col-3">Ajouter à une playlist</th>
            </tr>
        </thead>
        <tbody>
            {% for musique in musiques %}

            <tr class="d-flex">
                <td class="col-8 titre">{{ musique.titre_musique }}</td>
                <td class="col-1">{{ musique.duree_musique }}</td>
                <td class="col-3">
                    <a class="options" style="text-decoration: none;"href="#">
                        <i class="far fa-heart"></i>
                        <i class="fas fa-heart"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Pas de musiques trouvées pour cet album</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block style %}
{{ block.super }}
<style type='text/css'>
    img{
        max-width: 300px !important; 
        max-height: 300px !important;
    }
    #musiques{
        max-width: 80%; 
        margin: auto;
        text-align: center
    }
    tbody tr{
        background-color: #8FA970;
    }
    tbody tr:nth-child(2n){
        background-color: #5d7245;
    }
    .options{
        text-decoration: none;
        color: #8163A4;
    }
    .options:hover{
        color: #654d80;
    }
    .options:hover .far, .options .fas {
        display: none;
    }
    .options:hover .fas {
        display: inline;
    }
    .titre{
        text-align: left;
    }
</style>
{% endblock %}

