{% extends 'baseTemplate.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/albumDetail.css' %}">
{% endblock %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center" id="presentation">
        <img class="img-thumbnail" style="max-width: 200px; max-height: 200px;" src="/{{ album.image_album }}" alt="Image de l'album"/>
        <div>
            <h1>{{ album }}</h1>
            <div class="d-flex justify-content-between" id="infos">
                <div>
                    <p><i class="fas fa-microphone"></i> {{ album.id_artiste }}</p>
                    <p><i class="fas fa-file-contract"></i> {{ album.id_label }}</p>
                </div>
                <div>
                    <p><i class="fas fa-hourglass-start"> {{ extraData.totalTime}}</i></p>
                    <p><i class="fas fa-compact-disc"></i> Genre</p>
                </div>
            </div>
        </div>
    </div>
    <table class="table" style="max-width: 80%; margin: auto; background-color: #8FA970;">
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Durée</th>
            </tr>
        </thead>
        <tbody>
            {% for musique in musiques %}
            <tr>
                <td>{{ musique.titre_musique }}</td>
                <td class="duree">{{ musique.duree_musique }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block js %}
    {{ block.super }}
</script>
{% endblock %}

