{% extends 'baseTemplate.html' %}

{% block content %}
<div id="compte">
    
    <h2 class="mb-4">Compte de {{ user.username}}</h2>
    <div class="container">
        <div class="mb-4 d-flex">
            <h3 class="mb-4 mr-4">Playlists</h3>
            <div id="optionsPlaylist">
                <a href="{% url 'addPlaylist' %}"><i class="fas fa-plus fa-2x"></i></a>
            </div>
        </div>
        <div class="row">
            {% for playlist in playlists%}
            <div class="col-3 mb-2">
                <div class="card">
                    <img src="{{ playlist.image_playlist.url }}" class="card-img-top" alt="Image de playlist">
                    <div class="card-body">
                        <h5 class="card-title">{{ playlist.nom_playlist }}</h5>
                        <a href="#" class="btn btn-primary mb-2">Voir l'album</a>
                        <div class="d-flex justify-content-end">
                            <a href="#" class="mr-1"><i class="fas fa-edit"></i></a>
                            <a href="#" class="delete"><i class="fas fa-times"></i></a>
                        <div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-12 mb-2">
                <p>Pas de playlist</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}

{% block style %}
    {{ block.super }}
<style>
    #compte h2{
        text-align:center;
    }
    .card{
        text-align:center;
    }
    .btn-primary{
        background-color: #8163A4;
        border: #8163A4
    }
    .btn-primary:hover{
        background-color: #654d80;
        border: #654d80;
    }
    tbody tr{
        background-color: #8FA970;
    }
    tbody tr:nth-child(2n){
        background-color: #5d7245;
    }
    .delete{
        color : red;
    }
    .delete:hover{
        color : darkred;
    }
</style>
{% endblock style %}
