{% extends 'baseTemplate.html' %}
{% block title %}
    Django Music
{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity ="sha384 -mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin ="anonymous">
{% endblock %}
{% block content %}
    <div class="container flex align-middle" style="font-family: 'Oswald', sans-serif;">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center h1"><u>DJANGO MUSIC</u></div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form action="" >
                    <input type="text">
                </form>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
{% endblock %}