{% extends 'baseTemplate.html' %}
{% block title %}
    Django Music
{% endblock %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity ="sha384 -mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin ="anonymous">
{% endblock %}
{% block content %}
    <div class="container d-flex flex-column justify-content-center align-items-center" id='index'>
        <h1>DjangoMusic, plus qu'un site</h1>
        <h4>Des albums, des artistes, des albums</h4
        <br/>
        <p>Recherchez, trouvez, informez-vous</p>
    </div>
{% endblock %}
{% block style %}
{{ block.super }}
<style>
</style>
{% endblock %}