{% extends 'baseTemplate.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 h1 text-center"><u>DJANGO MUSIC</u></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">Résultat pour la recherche : {{ POST.search }}</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md h3 text-center">Artiste</div>
        <div class="col-md h3 text-center">Album</div>
        <div class="col-md h3 text-center">Musique</div>
    </div>
{% endblock %}