{% extends 'baseTemplate.html' %}
{% block content %}
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 h1 text-center"><u>DJANGO MUSIC</u></div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">Résultat pour la recherche : {{ text }}</div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md h3 text-center">Artiste</div>
        <div class="col-md h3 text-center">Album</div>
        <div class="col-md h3 text-center">Musique</div>
    </div>
    <div class="row">
        <div class="col-md h3 text-center"><a href="{% url 'artistesDetail' id=artiste.id %}">{{ artiste }}</a></div>
        <div class="col-md h3 text-center">{{ album }}</div>
        <div class="col-md h3 text-center">{{ musique }}</div>
    </div>
{% endblock %}
